Package: {{project_name}}
Title: {{project_description}}
Version: 0.1.0
Authors@R:
    person("{{author_name}}", role = c("aut", "cre"))
Description: {{project_description}}
License: MIT + file LICENSE
Encoding: UTF-8
Roxygen: list(markdown = TRUE)
